@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');


*{
    max-width: 1170px;
    margin: 0 auto;
    font-family: 'Mulish', sans-serif;
}

.name-color{
    color:  #FF5400;
}
.site-name{
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}